.grid {
   width: 600px;
   display: grid;
   grid-gap: 10px;
   grid-template-rows: 100px 100px 100px;
   grid-auto-flow: column;
   grid-template-columns: repeat(6, 100px);
   grid-template-rows: repeat(6, 100px);
}  